.container_search {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 60vh; */
    /* background-color: #007198; */
    border-radius: 50px;
}

.container_search .card {
    border-radius: 30px;
}