* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.height_max {
    height: 50px;
}

.absolute {
    position: absolute !important;
}

.header {
    background-color: #007198;
}

.btn-color {
    color: #003C57;
    background-color: #0594D0;
    font-family: 'Bowlby One SC', cursive;
}

.btn-color-green {
    color: #4B5943;
    background-color: #8FB43A;
    font-family: 'Bowlby One SC', cursive;
}

.btn-color-red {
    color: #77021D;
    background-color: #C23028;
    font-family: 'Bowlby One SC', cursive;
}

.btn-color-yellow {
    color: #93441A;
    background-color: #DAAB3A;
    font-family: 'Bowlby One SC', cursive;
}